@model CCbook2.Entities.Post
@using CCbook2.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h1></h1>


<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

@*            <label asp-for="UserId" class="control-label" type="hidden"></label>
*@            <input asp-for="UserId" class="form-control" type="hidden">

             <input asp-for="PostedBy" class="form-control" type="hidden" >


@*            <div class="form-group">
                <label asp-for="PostedBy" class="control-label"></label>
                <input asp-for="PostedBy" class="form-control" />
                <span asp-validation-for="PostedBy" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="CreatedDateTime" class="form-control" value="@DateTime.Now" type="hidden" />
            </div>
@*            <div class="form-group">
                <label asp-for="Likes" class="control-label"></label>
                <input asp-for="Likes" class="form-control" />
                <span asp-validation-for="Likes" class="text-danger"></span>S
            </div>*@
@*            <div class="form-group">
                <input type="hidden" asp-for="UserId" />
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-userId="@UserManager.GetUserId(User)">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
